#container{
    display: flex;
    flex-direction: row;
}
.sideBar{
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width:20%;
    margin: 10px 0 10px 0;
    padding-top: 50px;
    padding-bottom: 70%;
    background-color: #ccccee;
}
.content{
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.design_h1{
    font-family: 'shirafune';
    margin: 5px;
    margin-left: 20%;
    background-color: rgb(220, 160, 115);
    text-align: center;
}
.design_h3{
    margin: 5px;
    background-color: #ccccee;
    border-bottom: solid 3px #7777ee;
    height: 20px;
    padding: 5px 5px 5px 10px;
}
th{
    background-color: #cccccc;
}
td{
    background-color: aliceblue;
}
a{
    color: rgb(224, 51, 167);
}
@font-face {
    font-family: 'shirafune';
    src: url('./font/hkkaing.ttf') format('truetype');
}