#container{
    display: flex;
    flex-direction: row;
}
.sideBar{
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width:20%;
    margin: 10px 0 10px 0;
    padding-top: 50px;
    padding-bottom: 70%;
    background-color: rgba(0, 0, 0, 0.2);
}
.content{
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#design_h1{
    text-align: center;
    font-family: 'shirafune';
}
a{
    color: rgb(224, 51, 167);
}
.container .content p {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container .content p {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
  }
  
  .container .content p:nth-child(2n+1) {
    margin-right: auto;
  }
  
  .container .content p:last-child {
    margin-right: 0;
  }
@font-face {
    font-family: 'shirafune';
    src: url('./font/hkkaing.ttf') format('truetype');
}
#header {
    text-align: center;
    font-size: 24px;
    margin: 1rem 0;
  }


/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}